@{
    ViewBag.Title = "About";
}
<h2>@Resources.Resource.About</h2>

<p>@Resources.Resource.AboutUs</p>
<br/>
<address>
    <strong>Tiago:</strong>   <a href="mailto:tiagojlferreira97@gmail.com">tiagojlferreira97[at]gmail.com</a><br />
    <strong>Lukasz:</strong> <a href="mailto:Lukasz@swiderski.xyz">Lukasz[at]swiderski.xyz</a>
</address>
