@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>

<address>
    Covilha<br />
    Portugal, 6200-001<br />
    <abbr title="Phone">P:</abbr>
    425.555.0100
</address>

<address>
    <strong>Tiago:</strong>   <a href="mailto:Tiago@example.com">Tiago@example.com</a><br />
    <strong>Lukasz:</strong> <a href="mailto:Lukasz@example.com">Lukasz@example.com</a>
</address>